[submodule "TASBEImageAnalytics"]
	path = TASBEImageAnalytics
	url = git@github.com:TASBE/TASBEImageAnalytics.git
	branch = master
[submodule "TASBEImageAnalytics-Data"]
	path = TASBEImageAnalytics-Data
	url = git@github.com:TASBE/TASBEImageAnalytics-Data.git
	branch = master
